.normal {
}

.logo {
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 2.5em;
    margin: 0 0 20px 0;
    text-align: left;
}

/*.logoImg {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-right: 15px;*/
/*}*!*/

.container {
  /*height: 100vh;*/
  /*width: 100vh;*/
  /*display:   flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
    position: absolute;
    left: calc((100vw - 300px)/2);
    top: calc((100vh - 200px)/2);
    width: 300px;
    height: 200px;
}

.toOther {
    float: right;
}

.button {
    width: 100%;
}

